/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.centered {
    position: absolute;
    top: 38%;
    left: 51%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #aad4cf;
}
.container
{
  background-color: #d4e9e7; 
  width: 1025px; 
  margin: 0 auto;
}
.nav li {
    font-family: Arial, Helvetica, sans-serif;
    border-right: 1px solid black;
    display: inline-block;
    padding-left: 100px;
 padding-right: 100px;
    padding-bottom: 10px;
 padding-top: 15px;

   
    font-size: 26px;
}

.nav li:last-child {
    border-right: 0;
}
ul li a {
    text-decoration: none;
    color: #000;
}

nav li:active{
    background-color: black;
}
.small{
    line-height: 1.4;
    margin-right: px;
}
h4{
    padding: 50px;
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    left: 1044px;
    top: 155px;
    font-size: 65px;
}
h1{
    color: black;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large; 
    padding: 15px;   }
    
.square {
    float: left;
    padding: 9px;
  }

h2{
    color: black;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    padding: 15px;
}

ul.a {
    list-style-type: square;
    padding: 30px;
  }
h3{
    color: black;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    padding: 15px;
}
label{
    font-size: 19px; 
    display: inline-block;
    margin-bottom: 5px;
}
.border{
 border-style: solid;
 border-width: 1px;
 padding-left: 15px;
 padding-right: 15px;
 padding-top: 20px;
 padding-bottom: 10px;
 margin-left: 10px;
 margin-right: 10px;
 margin-bottom: 50px;
}
input{
    box-sizing: border-box;
    width: 100%;
    height: 26px;
    border: ipx solid black;
    margin-bottom: 10px;
    padding: 5px;
}
form{
    padding: 15px;
}
#question{
    font-size: 1000pt;
}
.radiobuttons{
      margin-bottom: 12px;
}

footer{
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
}
textarea{
    box-sizing: border-box;
    width: 100%;
    height: 100px;
    border: 1px solid black;
    margin-bottom: 1px;
}